# course config files
*.yaml

# gradle
.gradle/
build


# idea config
.idea

# old stages
/Amazing Numbers/*
!/Amazing Numbers/task/
/Amazing Numbers/task/*
!/Amazing Numbers/task/src

# Project exclude paths
/Topics/Fields and methods in enum/Balance management/out/
/Topics/Fields and methods in enum/Balance management/out/production/classes/